body {
    padding-top:5px;

}

h1 { 
  font-family: 'Annie Use Your Telescope', cursive;
  font-weight: 500;
  font-size: 40px; 
  color: #000; 
}

h3 { 
  font-family: 'Annie Use Your Telescope', cursive;
  font-weight: 500;
  font-size: 30px; 
  color: #000; 
}



p {
  font-family: 'Annie Use Your Telescope', cursive;
  font-size: 28px;
  color: #000; 

}

#container {

  font-size: 16px;
  margin: 0 auto;  
  width: 900px;	   
  font-weight: 400;

}
#header {

}

#content {
 clear: left;
 padding: 20px;
 font-family: "georgia","arial";

}

