body {
    padding-top:5px;
    font-face: "arial";
}

h1 { 

  font-family: 'Annie Use Your Telescope', cursive;
  font-weight: 500;
  font-size: 40px; 
  color: #000; 
}

p {
  font-family: 'Annie Use Your Telescope', cursive;
  font-size: 20px;
  color: #000; 

}

#container {
  margin: 0 auto;  
  width: 900px;	   
  font-weight: 400;
  font-family: arial;
}
#header {

}

#content {
 clear: left;
 padding: 20px;
}

